:root {
  --var--primary-orange: hsl(31, 77%, 52%);
  --var--primary-cyan: hsl(184, 100%, 22%);
  --var--primary-dark-cyan: hsl(179, 100%, 13%);
}
* {
  box-sizing: border-box;
  /* <uniquifier>: Use a unique and descriptive class name */
  /* <weight>: Use a value from 300 to 900 */

  font-family: 'Figtree', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.container {
  width: 340px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
}
.card {
  padding-right: 50px;
  padding-left: 30px;
  padding-top: 30px;
}
.card-orange {
  object-fit: cover;

  background-color: var(--var--primary-orange);
  color: white;
}
.title {
  text-transform: uppercase;
  font-weight: 900;
}
.info {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.8;
}
.btn {
  margin-bottom: 30px;
  padding: 8px 15px;
  border: 0px;
  border-radius: 30px;
  background-color: white;
  font-weight: 900;
}
.btn-orange {
  border-color: var(--var--primary-orange);
  color: var(--var--primary-orange);
}
.card-blue {
  background-color: var(--var--primary-cyan);
  color: white;
}
.btn-blue {
  color: var(--var--primary-cyan);
}
.card-dark-blue {
  background-color: var(--var--primary-dark-cyan);
  color: white;
}
@media screen and (min-width: 765px) {
  .container {
    width: 100%;
  }
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card {
    padding-bottom: 20px;
  }
  .btn {
    margin-top: 30px;
  }
}
